p:hover {
    cursor: pointer;
    color: blue;
}
.myContainer {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 0rem;
    margin: 0rem;
}
.myRightContainer {
    text-align: right;
}